<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<div th:replace="fragments/general :: baseHeader"></div>
<body>


<div class="container">

    <div th:replace="fragments/general :: headerPhoto(${recipe.recipeName})"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <div class="row form-control-height no-gutters">

        <div class="col-3">

            <div>
                <ul class="shoppingListPostIT listWithoutStyle">
                    <h3>Shopping list</h3>
                    <li th:each="ingredientRecipe : ${ingredientRecipes}">
                        <a th:text=" ${ingredientRecipe.ingredientDTO.ingredientName} +
                        ' (' + ${ingredientRecipe.getQuantityAsString() + ' ' + ingredientRecipe.quantityType} +') ' ">

                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-6 cookingInstructions">

            <h3>Cooking instructions</h3>
            <ol>
                <li class="stepsSpacing" th:each="step, iterStep : ${recipe.steps}">
                    <span th:text="${step}"></span>
                </li>
            </ol>
        </div>

        <div class="col-3 d-flex flex-row-reverse">
            <div class="width-match-content">
                <div th:if="${recipeImage == null}" class="defaultRecipeImage">
                    <img class="defaultImage" src="/images/favicon.png" alt="Default recipe image">
                </div>

                <div th:unless="${recipeImage == null}">
                    <img class="recipeImage" th:src="*{'data:image/png;base64,' + recipeImage}" alt="Recipe image">
                </div>

                <div class="row justify-content-center">
                    <h2>made by
                        <a th:href="@{/cookbook/myCookbook/{username}(username = ${recipe.socialMealsUserDTO.username})}"
                           th:text="${recipe.socialMealsUserDTO.username}" sec:authorize="isAuthenticated()"></a>
                        <span th:text="${recipe.socialMealsUserDTO.username}" sec:authorize="isAnonymous()"></span>
                        <br>
                    </h2>
                </div>

                <div class="row justify-content-center row-control-height">
                    <div th:if="${loggedInUser}">
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add to Cookbook
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div th:each="cookbook : ${cookbookList}">
                                    <a class="dropdown-item"
                                       th:href="@{/cookbook/add/{urlId}/{recipeUrlId}
                                       (urlId = ${cookbook.urlId}, recipeUrlId = ${recipe.urlId})}"
                                       th:text="${cookbook.cookbookName}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center row-control-height">
                    <div>
                        <form id="presentRating">
                            <div th:replace="fragments/rating :: starRatings"></div>
                        </form>
                    </div>
                </div>

                <div class="row justify-content-center " th:if="${loggedInUser}">
                    <span th:if="${recipe.averageRating} == null">Be the first to rate this recipe:</span>
                    <span th:unless="${recipe.averageRating} == null">How do you rate this recipe?</span>
                </div>
                <div class="row justify-content-center" th:if="${loggedInUser}">
                    <form th:action="@{/recipes/{recipeUrlId}/rate(recipeUrlId = ${recipe.urlId})}" method="post"
                          th:object="${rating}">
                        <div th:replace="fragments/forms :: ratingForm"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
<script th:inline="javascript">
    document.forms['presentRating'].elements['stars'].value = [[${recipe.averageRating}]]
</script>
</body>
</html>