<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<div th:replace="fragments/general :: baseHeader"></div>
<body>

<div class="container">

    <div th:replace="fragments/general :: headerPhoto('Update Recipe')"></div>
    <div th:replace="fragments/general :: navbar"></div>

    <div class="row">

        <div class="col-7">

            <div class="recipeImage">
                <img th:if="${recipeImage == null}" class="defaultImage" src="/images/favicon.png" alt="Default recipe image">
                <img th:unless="${recipeImage == null}" class="recipeImage"
                     th:src="*{'data:image/png;base64,' + recipeImage}" alt="Recipe image">
            </div>


            <form th:action="@{/recipe/update/{urlId}/updateImage(urlId = ${recipeDTO.urlId})}" method="post"
                  enctype="multipart/form-data">
                <input type="file" class="uploadImg" name="multipartImage" accept="image/*">
                <div>
                    <button type="submit" class="btn btn-primary">Upload image</button>
                </div>

            </form>
        </div>

    </div>


    <div class="row form-control-height">

        <div class="col-4">
            <h3>Shopping list</h3>

            <ul class="listWithoutStyle">
                <li th:each="ingredientRecipe : ${presentIngredientsRecipes}">

                    <div class="row updateShoppingList">

                        <div class="col-4">
                            <span th:text="${ingredientRecipe.ingredientDTO.ingredientName}"></span>
                        </div>

                        <div class="col-6">
                            <span th:text="${ingredientRecipe.getQuantityAsString() + ' ' + ingredientRecipe.quantityType}">

                            </span>
                        </div>

                        <div class="col-1">

                            <a class="confirmDelete btn btn-primary"
                               th:href="@{/recipe/delete/{urlId}/{ingredientName}
                                    (urlId=${ingredientRecipe.recipeDTO.urlId},
                                        ingredientName=${ingredientRecipe.ingredientDTO.ingredientName})}"><i
                                    class="fas fa-trash"></i>
                            </a>
                        </div>

                    </div>

                </li>
            </ul>
        </div>

        <div class="col-1"></div>

        <div class="col-7">
            <h3>Add ingredients</h3>
            <form class="has-validation"
                  th:action="@{/recipe/update/{urlId}/addingredient(urlId=${recipeDTO.urlId})}" method="post"
                  th:object="${ingredientRecipeDTO}">

                <div class="form-group">
                    <label for="ingredientAuto">Ingredient</label>
                    <input class="form-control form-control-width" name="ingredientName" id="ingredientAuto" required
                           pattern=".*\S+.*" title="This field is required">
                    <input type="hidden" id="urlId" th:value="${recipeDTO.urlId}">
                </div>

                <div class="row">

                    <div class="form-group col-4">
                        <label for="quantity">Quantity</label>
                        <input class="form-control form-control-width" type="number" min="0.1" step="0.1" id="quantity"
                               th:field="*{quantity}">
                    </div>

                    <div class="form-group col-7">
                        <label for="quantitytype">Units</label>
                        <input class="form-control form-control-width" type="text" id="quantitytype"
                               th:field="*{quantityType}">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>


    <div class="row form-control-height">

        <div class="col-7">

            <h3>Steps</h3>

            <form class="has-validation" th:action="@{/recipe/update/updateSteps}" method="post"
                  th:object="${recipeDTO}">

                <div th:replace="fragments/forms :: recipeForm"></div>
            </form>
        </div>

    </div>

</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>